# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so
# Folders
_obj
_test
# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out
*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*
_testmain.go
*.test
*.prof
*.coverprofile
*.log
cfdeploy.iml
cfdeploy
test/deployments/
main
.DS_Store
out/
coverage.out
cmd/cfops/cfops
cmd/cfops/v2/v2
_builds
_projects
_steps

plugins/

.envrc
!plugin/load/fixture_plugins/windows/sample.exe
plugin/cfopsplugin/sample/sample
/vendor
